

@import url("https://fonts.google.com/specimen/Kumbh+Sans?query=Kumbh+Sans");
/* universal */
*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Kumbh Sans', sans-serif;
    padding:0px;
    overflow:none;
    
    
} 
html{
    scroll-behavior: smooth;
    
}
:root{
    --voilet:#5964E0;
    --white:rgba(255,255,255);
    --lightgray:rgb(244,246,248);
    --lightVoilet:rgb(147,155,244);
    --veryDarkBlue:#19202D; 
    --midnight:#121721;
    --gray:rgb(157,174,194);
    --darkGray:rgb(110,128,152);
}
body{
    background-color: var(--lightgray);
}


/* end of universal */




/* -----DESKTOP VIEW--------------- */



/* start of the design on the header tag */
.background{
    background-image: url("./assets/desktop/bg-pattern-header.svg");
    border-radius: 0px 0px 0px 80px;
    height: 120px;
    margin-trim: 0;
}
.head-background-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.image-size{
    width:20px;
    height: 20px;
}
form{
    position: relative;
    top:0;
    width:80vw;
    height:60px;
    background-color: white;
    border-radius: 10px;
    display:flex;
    justify-content:space-evenly;
    margin: 0 auto;
    margin-top:-30px;
    cursor: pointer;
   
}
 .head-content {
   margin-left: 5%;
} 

.head-images{
    display: flex;
    cursor: pointer; 
    margin-right: 5%;
    
}
.search {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    width:25vw;
    
    
}
.image-hidden{
    display:none;
}
.search-flex{
    
     display: flex;
     
    justify-content: flex-start;
}
.sea{
    display:flex; 
      justify-content: space-around;
      
}



input[type="checkbox"]:checked {
  background: var(--voilet);
  color: white;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background:var(--lightgray);
  height: 18px;
  width: 18px;
  color: var(--white);
}

input[type="checkbox"]:after {
  content: ' ';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(50deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

.search-boarder{
    border-left: 2px solid var(--lightgray);
}
.search-row{
    display:flex;
    justify-content: space-around;
    
}
.input-rb{
    border: none;
    outline: none;
    width:100%;
    
}
.image{
    width:1.2em;
    height:1.2em;
    
}
.button{
    width:100px;
    height: 36px;
    
    margin-left: 20px;
    color: var(--white);
    background-color: var(--voilet);
    cursor: pointer;
    border:none;
    outline:none;
    border-radius: 7px;
   
    
}
.button:hover{
    background-color:var(--lightVoilet) ;
}

/* menu pop up */

#menuButton{
    display:none;
}
.menu {
    display: none;}

.popup{
    display: none;
}

/* -------------------------------- */
.head-outter{
    position:relative;
    top:0;
    right:0;
    width:2.5rem;
    height: 20px;
    border-radius: 60px;
    background-color: var(--white);
    margin: 0 0.7rem;
    transition: 0.5s;
}
.head-inner{
     position:absolute; 
    top:0;
    left: 0; 
    width:12px;
    height: 12px;
    border-radius:50%;
    background-color:var(--voilet) ;
    margin-top: 4.4px;
    margin-left: 5px;
    transform: scale(0.9);
    transition: 0.5s;
    
}

.head-outter:hover .head-inner{
    background-color: var(--lightVoilet);
}



/* end of the design on the header tag */


/* ----------MAIN------------------------ */

/* start of the design on the main tag tag */

#myUL{
    width:80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin: 0 auto;
    margin-top:40px;
    cursor: pointer;
    padding: 0;
    

}

li{
    background-color: var(--white);
    border-radius: 9px;
    list-style-type: none;
    position: relative;
    padding: 2rem;
    margin-top: 20px;
    margin-bottom: 40px;
    width:25vw;
}
li:hover{
    box-shadow: 1px 2px 0.5px var(--gray);
}
a{
    text-decoration: none;
    color: var(--gray);   

}
.move-image{
    position:absolute;
    top:-1.7em;
    left:10%;
    transition: 0.5s;


}
.move-image:hover{
    transform: translateY(-2rem);
    transition: 0.5s;
    
}

.color{
    color: var(--gray);
    margin-bottom: 1.5em;
}
.work-des:hover{
    color:var(--gray)
}

.button-load-more{
    width:80%;
    margin:0;
    margin:0 auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


.button a{
    text-decoration: none;
    color: var(--white);
}

.work-des{
    color: black;
}


.country{
    color: var(--voilet);
}




/* ---------------  tablet mode------------------ */


@media (max-width: 1023px) {
    /*  tablet-specific CSS styles here */
      form{
    width:90%;

   }
   
   #myUL{
    width:90vw;
    gap:2%;

}

li{ 
    width:43vw;

  }


}







  
  /*---------------------------------------- Mobile phone styles----------------------------------------------------------- */
  @media (max-width: 767px) {
    /* Add mobile phone-specific CSS styles here */
 .background{

    border-radius: 0px 0px 0px 0px;
    background-image: url("./assets/mobile/bg-pattern-header.svg");
    
}
#menuButton{
    display:block;
    flex-direction: row; 
    width: 4rem;
    height: 3rem;
    background-color: var(--voilet);
    outline: none;
    border: none;
    border-radius: 3px;
}
#menuButton svg{
  color:var(--white)
}

/* --popup---- */
.nav-popup{
    position: relative;
}

.popup.active{
    display: block;
    width: 90vw;
    margin: 0 auto;
    padding: 1.5rem;
    max-height: 50rem;
    background-color: var(--white);
    z-index: 2;
    margin-top: 5rem;
    border-radius: 9px ;
    position: fixed;
    
    left: 3.6%;
}
.popup.active1{
    background-color: var(--veryDarkBlue);
    color: var(--white);
}
/* .popup.active1 h4{
    
} */
.popup-1{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 3rem;
}
.popup-2{
    display: block;
    margin-top: 2rem;
   
}

.popup-2 div{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
#searchButton{
    width: 100%;
   
    margin: 0 auto;
    
    
    

   
}

/* end of popup */


form{
    position: relative;
    width:90vw;
}

:-ms-input-placeholder{
    content:"Enter.."
}


    
  #myUL {
        display:flex;
        flex-direction: column;
        margin-top: 5rem;
 
    }
    li{
        
        margin:0 auto;
        margin-bottom: 4rem;
        width:90vw;
    }
    .search-boarder{
        display: none;
    }
    .search-flex{
       flex-direction: row; 
       justify-content:space-between;
       width:70vw;
    }
    image{
       display: none;
    }
    .image-1{
       display: none;
         /* z-index: 1;  */
    }

    .image-hidden{
        display: flex;
       
        padding: 2rem;
        
    }

  }






  /* css for javascript--------------------------------------------- */
 .head-outter.active .head-inner{
    left: 1.2rem;
 }
 body.active{
    background-color: var(--midnight);
 }

 form.active,.input-rb.active,li.active{
    background-color: var(--veryDarkBlue);
    color: var(--white);
 }
 li:hover.active a{
    color:var(--gray)
 }
 .work-des.active,.image-hidden.active{
    color:var(--white)
 } 
 .search-boarder.active{
    border-left: 2px solid var(--darkGray);
}
 
 