
@import url("https://fonts.google.com/specimen/Kumbh+Sans?query=Kumbh+Sans");
/* universal */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    
    
}
body{
    background-color: var(--lightgray);
}


:root{
    --voilet:#5964E0;
    --white:rgba(255,255,255);
    --lightgray:rgb(244,246,248);
    --lightVoilet:rgb(147,155,244);
    --veryDarkBlue:#19202D;
    --midnight:rgb(18,23,33);
    --gray:rgb(157,174,194);
    --darkGray:rgb(110,128,152);
}


.background{
    background-image: url("./assets/desktop/bg-pattern-header.svg");
    border-radius: 0px 0px 0px 80px;
    margin-top: 0px;
    height: 100px;
}
.head-background-content{
    display: flex;
    justify-content: space-between;
    
    
}
.image-size{
    width:20px;
    height: 20px;
}
.head-search-content{
    position: relative;
    top:0;
    width:80vw;
    height:60px;
    background-color: white;
    border-radius: 10px;
    display:flex;
    justify-content:space-evenly;
    margin: 0 auto;
    margin-top:-10px;
    cursor: pointer;
   
}
 .head-content {
   margin-top: 20px;
   margin-left: 5%;
} 
.head-images{
    display: flex;
    margin-top: 18px;
    margin-right:5% ;
    cursor: pointer;
    
    
}




.image{
    width:20px;
    height: 20px;
    margin-top: 20px;
}
.button{
    width:100px;
    height: 36px;
    margin-top: 10px;
    margin-left: 20px;
    color: var(--white);
    background-color: var(--voilet);
    cursor: pointer;
    border:none;
    outline:none;
    border-radius: 7px;
   
    
}
.button:hover{
    background-color:var(--lightVoilet) ;
}


.head-outter{
    position:relative;
    top:0;
    right:0;
    width:40px;
    height: 20px;
    border-radius: 60px;
    background-color: var(--white);
    margin: 0 10px;
}
.head-inner{
     position:absolute; 
    top:0;
    left: 0; 
    width:12px;
    height: 12px;
    border-radius:50%;
    background-color:var(--voilet) ;
    margin-top: 4.4px;
    margin-left: 5px;
    
}
.head-outter:hover .head-inner{
    background-color: var(--lightVoilet);
}

.outter-container{
    display:flex;
    justify-content:flex-start;
    margin:0 auto;
    width: 50%;
    background-color:var(--white) ;
    height: 6.5em;
    margin-top: -30px;
}

 .inner-container-1{
     width:15%; 
     height: 100%; 
     
     border-bottom-left-radius: 5px;
    text-align: center;
    line-height: 100px; 
     color: var(--white); 
 }  
.inner-container-2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    
    
}
.container-2-1{
    margin-left: 2em;
    margin-right: 80%;   

}



.color{
    color:var(--gray)
}
 #b-expand{
    background-color: var(--lightgray);
    width: 10vw;
    height: 36px;
   
 
    
}
#b-expand:hover{
    background: var(--lightVoilet);
}

 a .button {
    color: var(--voilet);
}


a{
    text-decoration: none;
  
     margin-top:-0.8em;
   
}


.button{
    width:100px;
    height: 36px;
    margin-top: 10px;
    margin-left: 20px;
    color: var(--white);
    background-color: var(--voilet);
    cursor: pointer;
    border:none;
    outline:none;
    border-radius: 7px;
   
    
}
.button:hover{
    background-color:var(--lightVoilet) ;
}



/* main this contains the description of an employee
 */
 .employee-description{
    margin:0 auto;
    width: 50%;
    background-color:var(--white) ;
    height: 100%;
    margin-top: 30px;
    padding: 25px;
 }
 .employee-data{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 
 article h4{
    margin: 30px 0;
 }

 article p,li{
    font-size: 1.0em;
    margin-top: 10px;
    font-style: normal;
   

 }

 .move-image:hover{
    transform: translateY(-2rem);
    transition: 0.5s;
    
}

  article p{
        text-align: justify;
  }
 .country{
    color:var(--voilet);
    font-size: 0.7rem;

 }


 /* footer  */
 footer{
    background-color: var(--white);
    width:100%;
    height: 100px;
    margin-top: 50px;
    padding: 10px;

 }
 .footer{
    width:50%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:15px;
 }




/* -------------------------------TABLET MODE------------------------------- */




 @media (max-width: 1023px) {
    /* Add tablet-specific CSS styles here */
   
    .outter-container{
        
        width: 90vw;
        
    }



    .employee-description{
        width: 90vw; 
     }

     .footer{
        width:90vw;
     }
     .container-2-1{
        margin-right: 90%;
       
   }
   #b-expand{
    width: 20vw;
    height: 36px;
    
    
}

a{
    margin-top: -0.8em;
}
   
  
 }


/* ------------------------MOBILE VIEW------------------------------------------------------------------- */

  
  
  /* Mobile phone styles */
  @media (max-width: 767px) {
    /* Add mobile phone-specific CSS styles here */
   
      .background{
    background-image: url("./assets/mobile/bg-pattern-header.svg");
    border-radius: 0px 0px 0px 0px;
    
}

    .outter-container{
        display:block;
        text-align: center;
       position: relative;
        width: 90%;
        height: 45%;
        margin-top: -25px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .inner-container-1{
        position: absolute;
        top:0;
        left:center; 
        width:4rem;
        height: 4rem;
        margin-top: -30px;
        border-bottom-left-radius: 0;
        text-align: center;
        line-height: 4rem;
        border-radius: 30%;


    }

    .inner-container-2{
        display:block;
   
    }
    .container-2-1{
      
      
        letter-spacing: 0.1em;
        margin:0;
       margin-top:5em;
    
     
   }


    
   #b-expand{
    
    width: 30vw;
    height: 3em;
    margin-top:3em;
    margin-bottom: 3rem;

    
}
 .employee-data{
    display: block;

 }

 .apply-1{
    text-align: center;
    width: 100%;
    margin-top: 60px;
 }

 .button{
    
    margin-left: 0px;

}
 .footer{
    width:90%;
    margin:0 auto;
    display: block;
     margin-top:15px; 
    
 } 

.footer-button,button{
 
    width: 100%;
    
}
.footer h4,.footer p{
    display: none;
}


/* javascript */
#b-expand.active a {
    color:var(--voilet)
}


  }




  /* ------------for javascript----------------------------------- */
  .head-outter.active .head-inner{
    left: 1.0rem;
    transition:0.5s;
 }
 body.active {
    background-color: var(--midnight);
 }

 form.active,.employee-description.active
 ,footer.active,.outter-container.active {
    background-color: var(--veryDarkBlue);
 }


 body.active {
    color: var(--white);
 }
 body.active {
    color: var(--white);
 }
 #b-expand.active  {
    background-color: var(--darkGray);
   
}
#b-expand.active a,#b-expand.active{
    color:var(--white)
}
#b-expand:hover.active{
    background-color: var(--gray);
}

.country.active1{
   color:var(--voilet);
}
.color.active1 {
    color:var(--gray);
}
li.active1,p.active1{
    color:var(--gray)
}
li::before.active1{
    color:var(--voilet)
}
 
 /* end of javascript */